@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sono:wght,MONO@200..800,1&display=swap");

:root {
  --color-loud: #eb8552;
  --color-neutral: #5a5053;
  --color-body: #2a2828;
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-body);
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
