html {
  font-family: system-ui, sans-serif;
}

.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .control {
    display: block;
    font-size: 0.875rem;
    color: #6b7280;

    &::file-selector-button {
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
      border: 0;
      font-size: 0.875rem;
      font-weight: 600;
      background-color: #eff6ff;
      color: #1d4ed8;
      cursor: pointer;

      &:hover {
        background-color: #dbeafe;
      }
    }
  }

  .help-text {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: #6b7280;
  }
}

.aspect-ratio-slider {
  width: 100%;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 90px;
  gap: 1rem;
  margin: 1rem;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);

  .image-uploader {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .editor-toggles {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
    display: flex;
    gap: 0.25rem;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
  }

  .aspect-ratio-slider {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    z-index: 1;
  }
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow: hidden;
}
